html,
body,
#app{
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../beij.png");
}


pre{
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    font-size: 13pt;
    font-weight: 200;
    background: #282b2e;
}

.hljs {
    /* background: #ffffff;
    color: #444; */
    color: #abb2bf;
    background: #282c34;
}

code{
    font-family: Consolas, Monaco, monospace;
}